
.empty-state[data-v-afdb816e] {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
  color: #ccc;
}

.profile[data-v-35e764a4] {
  text-align: center;
  color: #282828;
}
.profile__img[data-v-35e764a4] {
    height: 100px;
    border-radius: 50%;
    border: 5px solid #0096d9;
}
.profile__identity[data-v-35e764a4], .profile__bio[data-v-35e764a4] {
    margin-bottom: 10px;
}
.profile__name[data-v-35e764a4] {
    font-size: 24px;
    margin: 10px 0 0px;
}
.profile__login[data-v-35e764a4] {
    color: #a49c9c;
    font-size: 16px;
}
.is-bookmarked[data-v-35e764a4] {
  position: absolute;
  top: 70px;
  right: 10px;
}
.is-bookmarked--yes[data-v-35e764a4] {
    color: #0096d9;
}

.action[data-v-0eeffafa] {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid grey;
  background: #0096d9;
}
.action__tab[data-v-0eeffafa] {
    width: 25%;
    display: table-cell;
    text-align: center;
}
.action__link[data-v-0eeffafa] {
    position: relative;
    display: block;
    padding: .7em 1.3em;
    color: #fff;
    text-decoration: none;
}
.action__icon[data-v-0eeffafa] {
    font-size: 24px;
}
.action__badge[data-v-0eeffafa] {
    font-size: 12px;
    padding: 2px 5px;
    line-height: 1;
    background-color: rgba(27, 31, 35, 0.08);
    border-radius: 20px;
}

.repos[data-v-657be59c] {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px #d1d5da solid;
  border-radius: 3px;
  margin: 0 0 60px;
}
.repo .octicon[data-v-657be59c] {
  color: #282828;
  top: 14px;
  left: 12px;
  width: 16px;
  text-align: center;
  vertical-align: bottom;
}
.repo:first-child a[data-v-657be59c] {
  border-top: 0;
}
.repo a[data-v-657be59c] {
  position: relative;
  display: block;
  padding: 14px 15px 14px 14px;
  line-height: inherit;
  text-align: left;
  color: #0096d9;
  text-decoration: none;
  border-top: 1px solid #eaecef;
}
.repo__name[data-v-657be59c] {
  display: inline-block;
  width: 70%;
  line-height: 1.2;
  vertical-align: top;
  word-wrap: break-word;
}
.star[data-v-657be59c] {
  float: right;
  margin-bottom: 3px;
  margin-right: 25px;
  font-size: 12px;
  color: #6a737d;
}

.fade-enter-active[data-v-724f5e9c], .fade-leave-active[data-v-724f5e9c] {
  transition: opacity .2s ease;
}
.fade-enter[data-v-724f5e9c], .fade-leave-active[data-v-724f5e9c] {
  opacity: 0;
}
.sidebar-cover[data-v-724f5e9c] {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  z-index: 19;
}

.sidebar[data-v-7496dca2] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 70%;
  height: 40em;
  height: 100vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 20;
  transform: translateX(-100%);
  transition: transform 300ms;
}
.sidebar--open[data-v-7496dca2] {
    transform: translateX(0);
}
.sidebar__head[data-v-7496dca2] {
    height: 60px;
    background-color: #0096d9;
}
.sidebar__head img[data-v-7496dca2] {
      height: 50px;
      padding: 5px 0 0 15px;
}
.sidebar__content[data-v-7496dca2] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    background: #fff;
}
.sidebar__menu[data-v-7496dca2] {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar__link[data-v-7496dca2] {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
}
.sidebar__link i[data-v-7496dca2] {
      font-size: 24px;
      margin-right: 15px;
      vertical-align: middle;
}

.header[data-v-f7677744] {
  height: 60px;
}
.header__sticky[data-v-f7677744] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: table;
    margin: 0;
    height: 60px;
    background: #0096d9;
    text-align: center;
    color: #fff;
    width: 100%;
}
.header__content[data-v-f7677744] {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.header__brand[data-v-f7677744] {
    width: auto;
    height: 50px;
}
.header__nav[data-v-f7677744] {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}
.header__nav[data-v-f7677744]:first-child {
      text-align: left;
      padding-left: 15px;
      width: 50px;
}
.header__nav[data-v-f7677744]:last-child {
      text-align: right;
      padding-right: 15px;
      width: 50px;
}
.header__hamburger[data-v-f7677744], .header__search[data-v-f7677744] {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: #fff;
    font-size: 30px;
}
.search[data-v-f7677744] {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  color: #fff;
  border-bottom: .5em solid #0096d9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.search__text[data-v-f7677744] {
    width: 100%;
    padding: 12px;
    outline: none;
    border: 0;
}
.search__btn[data-v-f7677744] {
    width: 70px;
    padding: 12px;
    outline: none;
    border: 0;
}
.octicon{display:inline-block;vertical-align:text-top;fill:currentColor}